html, body, #root {
  width: 100vw;
  height: 100vh;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

.caja-de-ritmos {
  width: 50rem;
  height: 28rem;
  background-color: #000;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.pad-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 60%;
  height: 100%;
  padding: 0;
  box-sizing: border-box;
  align-items: center;
  justify-items: center;
}

.drum-pad {
  background-color: #00A1EC;
  width: 9em;
  height: 9em;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  font-size: 0.9rem;
}

.drum-pad:hover {
  background-color: #0174aa;
}

.drum-pad:active {
  background-color: #0037EC;
}

.controlers {
  height: 100%;
  width: 40%;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fish-button {
  background-color: transparent;
  border: none;
  color: #0037EC;
  font-size: 120px;
  width: 150px;
  height: 150px;
  padding: 0;
}

input[type="range"] {
  height: 30%;
}

input[type="range"]::-webkit-slider-runnable-track, input[type="range"]::-moz-range-track {
  height: 90%;
  background: #00A1EC;
}

span {
  border: 1px solid #fff;
  padding: 10px;
  margin: 5px;
}